# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

export LD_LIBRARY_PATH="{{ install_folder }}/s4bxi/lib:{{ install_folder }}/simgrid/lib64"
export PATH="$PATH:{{ install_folder }}/s4bxi/bin:{{ install_folder }}/simgrid/bin"
